/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
#app {
	/* margin: 16px; */
	/* border-radius: 4px; */
	background-color: #FFF;
	/* padding: 16px; */
}
a {
  color: black;
}

body {
    overscroll-behavior-y: contain;
}